BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80

AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 1

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always

IncludeBlocks: Preserve
SortIncludes: false
